nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none; /* Added to remove underline from links */
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

aside {
    background-color: #f4f4f4;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ddd;
}
